body{
  background-color: #778899;
}
h1 {
  font-family: arial;
}
.block1 {
  align: center;
  width: 80%;
  margin:0 auto;
  background-image: url(32-fon-dlya-sayta.png);
  padding: 100px;
}
